@charset "UTF-8";
/*fix for bootstrap*/
#content {
	padding: 0px 20px;
}
ul.list-group .group-item-first {
	border-radius: 0px;
	border-top: none;
}
.none-border td {
	border: none !important;
}
/*header footer*/
header {
	border-bottom: 1px solid #cccccc !important;
}
.footer {
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	color: #777;
	text-align: center;
	border-top: 1px solid #cccccc;
}
.footer-links {
	padding-left: 0;
	margin-top: 20px;
	color: #999;
}
.footer-links li {
	display: inline;
	padding: 0px 2px;
}

.pull-right {
	text-align: right;
}
.number {
	color: #3b73af;	
}
.info-text {
	color: #666666;
}
.user-link img {
	vertical-align: middle;
}
.user-link span {
	padding-left: 6px;
}
.hidden-upload {
	position: absolute;
	top: -100px;
}
.profile-small {
	width: 20px;
	height: 20px;
}
.profile-medium {
	width: 36px;
	height: 36px;
}
.profile-default {
	width: 48px;
	height: 48px;
}
.profile-large {
	max-width: 200px;
	height: auto;
}
a.positive {
	color: #3b73af;
}
a.negative {
	color: #666666;
}
textarea.long-field {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
}
.long-field {
	max-width: 500px;	
}
.border-top {
	border-top: 1px solid #cccccc;
	width: 100%;
}
.heavy {
	font-weight: bold;
}
.separator {
	height: 15px;
}
.separator-high {
	height: 30px;
}
.tab {
	display: inline-block;
	width: 15px;
}
.tab-long {
	display: inline-block;
	width: 30px;
}
.text-center {
	text-align: center;
}
.hidden {
	display: none;
}
.clearfix {
	clear: both;
}
.h-separator {
	height: 20px;
}
.fl-left {
	float: left;
}
.fl-right {
	float: right;
}
table.centered tbody td {
	vertical-align: middle !important;
}
.icon-link-text {
	margin-left: 5px;
}
/*addUser.jsp*/
.ajax-progressing {
	display: none;
}
.ajax-result-content {
	display: none;
}
.ajax-no-result {
	display: none;
}
.center-title {
	margin: 5px auto;
	padding: 5px;
	width: 1080px;
}
.center-block {
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 10px auto;
	padding: 20px;
	width: 1080px;
}